body{
    background-color: #06111C;
    color: #E9F0F2;
}

h1{
    color: #FFFFFF;
    font-family: 'KoHo', sans-serif;
    font-weight: 700; 
}

h2{
    color: #E9F0F2;
}

#contenido{
    background-color: #384A80;
    border-radius: 10px;
}

.btn{
    background-color: #1C2540;
}